<div class="span12 widget-container-span">
    <div class="widget-box ">
        <div class="widget-header">
            <h6 class="lighter smaller">
                @AVAResource.Resource.AutomobileClass_List
            </h6>
        </div>
        <div class="widget-body">
            <table id="table" width="100%" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>@AVAResource.Resource.Mobile_Model</th>
                        <th></th>
                    
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div><div class="modal fade" id="myModalFullscreen">

</div>
<script type="text/javascript">
    var spinner;
    $(function () {
        var oTable1 = $('#table').dataTable({
            "bFilter": false,
            "language": {
                "lengthMenu": "نمایش _MENU_ سطر در صفحه",
                "zeroRecords": "رکوردی وجود ندارد - متاسفانه",
                "info": "نمایش صفحه _PAGE_ از _PAGES_",
                "infoEmpty": "رکوردی وجود ندارد",
                "infoFiltered": "(فیلتر شده از _MAX_ رکورد )"
            },
            "bServerSide": true,
            "sAjaxSource": "/AutomobileClass/GetAutomobileClasses",
            "bProcessing": false,
            "aoColumns": [
                   null,  { "bSortable": false }
            ],
            "fnCreatedRow": function (nRow, aData, iDataIndex) {
                $('td:eq(1)', nRow).html('<div class="hidden-phone visible-desktop action-buttons"><a class="blue" id="' + aData[1] + '"  onclick="onedit(this)"   href="#"><i class="fa fa-edit bigger-130"></i></a><a class="red" id="' + aData[1] + '" onclick="ondelete(this)" href="#"><i class="fa fa-trash bigger-130"></i></a></div>').addClass('td-actions');
            },
            "fnServerParams": function (aoData) {
                aoData.push({ "name": "model", "value": $("#model").val() });
            },
        });
        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
            .each(function () {
                this.checked = that.checked;
                $(this).closest('tr').toggleClass('selected');
            });
        });
        $('input.global_filter').on('keyup click', function () {
            filterGlobal();
        });
        $('input.column_filter').on('keyup click', function () {
            var id = $(this).parents('span').attr('data-column');
            filterColumn(id);
        });
    })
    function onedit(element) {
        var id = $(element).attr('id');
        Sppiner();
        var url = "@Url.Action("Edit", "AutomobileClass")";
        var containerholder = $("#content");
        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            data: { "id": id },
            success: function (data) {
                containerholder.html('');
                containerholder.html(data);
                spinner.stop();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Error: ' + xhr.statusText);
                spinner.stop();
            }
        });
    };

    function ondelete(element) {
        var id = $(element).attr('id');
        Sppiner();
        var url = "@Url.Action("Delete", "AutomobileClass")";
        var containerholder = $("#content");
        $.ajax({
            cache: false,
            type: "GET",
            url: url,
            data: { "id": id },
            success: function (data) {
                containerholder.html('');
                containerholder.html(data);
                spinner.stop();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Error: ' + xhr.statusText);
                spinner.stop();
            }
        });
    };
</script>
