@model AutomobilMng.Models.FuelSearchModel
<div class="row-fluid ">
    @Html.Partial("SearchCompareConsume")
</div>
<div class="row-fluid" id="listcontent">
    @Html.Partial("ListCompareConsume")
</div>


