@model DotNet.Highcharts.Highcharts

<div class="span12 widget-container-span">
    <div class="widget-box ">
        <div class="widget-header">
            <h6 class="lighter smaller">
                @AVAResource.Resource.Chart_RepairWorkshop_Referral

            </h6>
            <div class="widget-toolbar">
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
                <a href="#" data-action="close">
                    <i class="icon-remove"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <div class="widget-main">
      
                @(Model)

            </div>
        </div>
    </div>
</div>